flake8==4.0.1
flake8-black==0.3.6
flake8-isort==5.0.0
flake8-absolute-import==1.0.0.1
flake8-commas==2.1.0
flake8-comprehensions==3.10.0
flake8-docstrings==1.6.0
flake8-multiline-containers==0.0.19
flake8-print==5.0.0
flake8-quotes==3.3.1
pep8-naming==0.13.2